@{
    ViewData["Title"] = "Home";
}

<section class="hero p-5 rounded-3 mb-4 text-white">
    <h1 class="display-6 mb-2">Welcome to Good Vibes Barbershop</h1>
    <p class="lead mb-4">Plan your next Hairstyle with us and our amazing team. All you have to do is book an appointment!</p>
    <a class="btn btn-primary btn-cta" asp-controller="Booking" asp-action="Index">Book Now</a>
</section>
